<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-md-3 ml auto">
            <img class="footer-logo" src="assets/pickle.jpg" alt="">
          </div>
          <div class="col-md-2 ml-auto xy1">
            <h3>Shop</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Sell online</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Examples</a></li>
              <li><a href="#">Website editors</a></li>
              <li><a href="#">Online retail</a></li>
            </ul>
          </div>
          <div class="col-md-2 ml-auto xy">
            <h3>Press</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Events</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Online retail</a></li>
            </ul>
          </div>
          <div class="col-md-2 ml-auto xy">
            <h3>About</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div class="col-md-2 ml-auto xy">
            <h3>Follow Us</h3>
            <ul class="list-unstyled links">
              <li><a href="#"><span class="icon-twitter">Twitter</span></a></li>
              <li><a href="#"><span class="icon-instagram">Insta</span></a></li>
              <li><a href="#"><span class="icon-facebook">FB</span></a></li>
              <li><a href="#"><span class="icon-pinterest">Pin</span></a></li>
            </ul>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12 text-md-center">
            <ul class="list-unstyled link-menu nav-left">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Code of Conduct</a></li>
            </ul>
          </div>
      </div>
    </div>
    
</footer>