.container{
    width: 100%;
    height: 100%;
    background-color: rgb(233, 182, 135);
}
.footer-logo{
    margin: 25px;
    padding: 5px;
    height: 150px;
    width: 250px
}
h3{
    font-size: large;
    font-weight: bold;
    color: rgb(126, 68, 15);;
}
.xy{
    margin-top: 30px;
}
.xy1{
    margin-top: 30px;
    margin-left: 25px;
}
/* unvisited link */
a:link {
    color: rgb(240, 101, 20);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(236, 64, 64);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }