<section class="py-5 container">
    <div class="row align-items-center">
        <div class="col-2 app-icon" routerLink="/">
            <img src="assets/pickle_logo.jpg" alt="">
        </div>
        <div class = "col-7">
            <form class="form inline search-form">
                <div class="input-group align-items-center">
                    <input class="form-control rounded mr-sm-2 py-2.5" type="search" placeholder="Search" aria-label="search"/>
                    <mat-icon class="input-group-append search-icon">search</mat-icon>
                </div>
            </form>
        </div>
        <div class="col-3 text-end header-btn-grp">
            <button mat-icon-button>
                <mat-icon>
                    favorite
                </mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>
                    shopping_bag
                </mat-icon>
            </button>
        </div>
    </div>
</section>